<div class="main-container">

  <!-- Itinerary cards container -->
  <div class="itineraries-container">
    <div class="cards">
      <% @itineraries.each do |itinerary| %>
        <%= render 'shared/itinerary-card', itinerary: itinerary %>
      <% end %>
    </div>
  </div>

  <!-- Mapbox container -->
  
</div>
