<div class="main-container">

  <!-- Itinerary cards container -->
  <div class="itineraries-container">
    <div class="cards">
      <% @itineraries.each do |itinerary| %>
        <%= render 'shared/itinerary-card', itinerary: itinerary %>
      <% end %>
    </div>
  </div>

  <!-- Mapbox container -->
  <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoibWluYXVsdCIsImEiOiJjazlvMjd5MXMwNGpkM2tsOXQycW1haXJiIn0.cDbXgRjAlRk7L73yRl4Upg'>
</div>
