// Specific CSS for your home-page
.itineraries-index-container{
  display:flex;
}

.itineraries-container {
  margin:16px;
}

#map {
  height:100vh;
  position:sticky;
  top: 0;
}

.cards {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:16px;
  margin: 16px;
}

// If screen tightens: different cards.

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
