<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/869258/pexels-photo-869258.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);">
  <div class="container">
    <h1>Skitouring redefined!</h1>
    <p>Find a buddy and an itinerary close to your place.</p>
    <%= link_to "Search now", itineraries_path, class: "btn btn-flat" %>
  </div>
</div>
