<div class="itinerary-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg)">
  <h2 class="itinerary-card-infos"><%= itinerary.title %></h2>
</div>
