<div class="itinerary-card">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="itinerary-card-infos">
    <div>
      <h2><%= itinerary.title %></h2>
      <p><%= itinerary.description %></p>
    </div>
  </div>
</div>
