<div class="itinerary-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg)">
  <h2 class="itinerary-card-title"><%= itinerary.card_title %></h2>
  <p><i class="fas fa-chart-line itinerary-card-vertical"></i> 582m.</p>
</div>
